@media screen and (max-width: 376px) {
    //------------------- nosotros responsive---------------------------------------

    .nosotros--img{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 14rem;
        height: 7rem;
      }
      
      .nosotros--img__1{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 14rem;
        height: 7rem;
      }
      
      .nosotros{
        color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
  
        p{
          display: flex;
          justify-content: center;
          font-size: 0.7rem;
          text-align: center;
        }
  
        h3{
          display: flex;
          justify-content: center;
          font-size: 1rem;
          text-align: center;
        }
      
        img{
          animation: tilt-in-right-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          }
      
        @keyframes tilt-in-right-1 {
              0% {
                transform: rotateX(-30deg) translateX(300px) skewX(30deg);
                opacity: 0;
              }
              100% {
                transform: rotateX(0deg) translateX(0) skewX(0deg);
                opacity: 1;
              }
            }
      
            h3{
              animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              }
              
            p{
              animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              }
              
              @keyframes fade-in-left {
                0% {
                  transform: translateX(-50px);
                  opacity: 0;
                }
                100% {
                  transform: translateX(0);
                  opacity: 1;
                }
              }
      }
    
      /* parrafo del medio del HTML-nosotros*/
    
    .nosotros--nosotros{
      color: #ffffff;
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      p{
        display: flex;
        justify-content: center;
        font-size: 0.7rem;
        text-align: center;
      }
  
      h3{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
      }
      
        .nosotros--img__1{
          display:flex;
        }
      
        img{
          animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          }
          
          @keyframes tilt-in-left-1 {
            0% {
              transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
              opacity: 0;
            }
            100% {
              transform: rotateX(0deg) translateX(0) skewX(0deg);
              opacity: 1;
            }}
      
            .nos--h3{
              animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              transition: 1s;
      }
              }
              
            .nos--p{
              animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              }
              
          @keyframes fade-in-right {
            0% {
              transform: translateX(50px);
              opacity: 0;
            }
            100% {
              transform: translateX(0);
              opacity: 1;
            }
         }
      
  
      .sectionMusic{
          margin: 0;
          padding: 0;
  
          h1{
            font-size: 1.3rem;
          }
      }

         /* ----------HTML-INICIAR SESION Y REGRISTRARME---------- */

         fieldset{
            border-color: #ff00ff;
            padding: 0;
            margin: 4rem 1rem 4rem;
        }
        
        legend{
            font-size: 0.8rem;
            color: #ffffff;
        }
        
        .formulario{
            font-size: 0.7rem;
            margin: 1rem;
            color: #ffffff;

            input{
                font-size: 0.7rem;
                color: #ffffff;
                background-color: #000000;
                border-style: solid;
                border-radius: 12px;
                border-color: #ff00ff;
                padding: 0.1rem;
                margin: 0.5rem;
            }

            .boton{
                width: 10rem;
                border-radius: 20px;
                color: #ea00ff;
            }
        }

        .buscar-1{
          color: #ffffff; 
          background-color: #26042e;
          border-style: solid;
          border-radius: 14px;
          border-color: #ff00ff;
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 0.4rem;
          line-height: none;
          width: 4rem;
        }

        .section-2{
          margin-top: 13%;

          .hr{
            display: none;
          }
  
        }

        .menu li a{
          margin: 0;
          margin-top: 0.5rem;
          padding: 0;
      }

      .navegacion .menu input{
          padding: 0;
          margin: 0.7rem;
          width: 6rem;
          height: 1rem;
          font-size: 0.5rem;
      }
    
      .menu .menu__menu{
        display: none;
      }
       
       .br{
           display: none;
       }

}



