@import "./variables";

.section-1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #ffffff;
    margin-top: 8%;
	animation: $entrada-de-abajo;

    .especial{
        margin: 1rem;
        padding: 2rem;
      }

    div{
        -webkit-animation: color-change-2x 1.5s linear infinite alternate both;
                animation: color-change-2x 1.5s linear infinite alternate both;
        display: map-get($div-1, display);
        flex-direction: map-get($div-1, flex-direction);
        border: map-get($div-1, border);
        border-style: map-get($div-1 , border-style);
        border-color: map-get($div-1, border-color);
        border-radius: map-get($div-1 , border-radius);
        background-color: map-get($div-1 , background-color);
        padding: map-get($div-1 , padding);
        width: map-get($div-1 , width);
      }

    @-webkit-keyframes color-change-2x {
      0% {
        border-color: $fuxia-polenta;
      }
      100% {
        border-color: #490b6d;
      }
    }
    @keyframes color-change-2x {
      0% {
        border-color: $fuxia-polenta;
      }
      100% {
        border-color: #490b6d;
      }
    }

    img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        object-fit:cover;
        margin: 0;
        padding: 0;
      }
      
    p{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 0.9rem;
        padding: 0;
        margin: 0rem;
      }
      
    h3{
        text-align: center;
        padding: 0;
        margin: 0;
      }
      
    a{
        text-decoration: none;
      }
}

@keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.especial{
  color: #ffffff;
  transition: 0.3s;

     img{
        margin: 0;
        padding: 0;
        align-self: center;
        width: 18rem;
        height: 10rem;
     }

}

.especial:hover{
        box-shadow: $luz-sombra;
        }  

.h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  color: #ffffff;
}

.hr{
    color:$fuxia-polenta;
    border: solid;
  }